[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
pandas = "*"
dash = "*"
dash-core-components = "*"
dash-html-components = "*"
imdbpy = "*"

[requires]
python_version = "3.7"
